@import url(https://fonts.googleapis.com/css?family=Roboto:regular,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap);

@charset "UTF-8";

@font-face {
  font-family: helveticaneue;
  font-display: swap;
  src: url("../fonts/helveticaneue-roman.woff2") format("woff2"), url("../fonts/helveticaneue-roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Helvetica Neue Condensed Bold;
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Helvetica Neue Condensed Black;
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Black.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "helveticaneue";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "helveticaneue";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #1A1A1A;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  line-height: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
  display: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=button] {
  cursor: pointer;
}

.navigation-items {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 30px;
}

.navigation-items__image {
  margin-bottom: 1rem;
}

.navigation-items__title {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation-items__subtitle {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

[green]::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #34C759;
  position: absolute;
  bottom: -40%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

[shadow-text]::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Helvetica Neue";
  font-weight: 900;
  line-height: 150px;
  letter-spacing: 0.2em;
  color: rgba(64, 64, 64, 0.5568627451);
  z-index: -1;
}

.header {
  position: fixed;
  padding: 0 15px;
  width: 100%;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.header a {
  text-decoration: none;
}

.header__menu {
  min-height: 90px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  position: relative;
  z-index: 20;
}

.no-webp .menu__logo ::before{
  background-image: url(./../img/Logo.png); }

.menu__logo ::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  left: -60%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 2;
}

.menu__link {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.menu__link:hover {
  color: #34C759;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #252525;
}

.footer .navigation-items {
  -ms-grid-columns: minmax(245px, 400px);
  grid-template-columns: minmax(245px, 400px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .navigation-items {
  padding: 30px;
}

.footer .navigation-items__title {
  white-space: nowrap;
}

.footer {
  position: relative;
}

.footer::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.1058823529);
  top: 55%;
  position: absolute;
}

.footer__bottom {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer__logo {
  margin-top: 41px;
  position: relative;
}

.no-webp .footer__logo::before{
  background-image: url(./../img/Logo.png); }

.footer__logo::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: -20%;
  left: -40%;
}

.footer__copy {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #737373;
}

.no-webp .favorite{
  background-image: url(./../img/favorite/placeholder.jpg); }

.favorite {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5.625rem;
}

.favorite__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.favorite__title {
  font-family: "Helvetica Neue";
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.favorite__text {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.6823529412);
  margin-bottom: 2.5rem;
  max-width: 550px;
}

.favorite__button {
  background-color: #34C759;
  text-decoration: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  margin-bottom: 4.375rem;
}

.about__container {
  margin-top: -170px;
  background-color: #252525;
  text-align: center;
}

.about__title {
  font-family: "Helvetica Neue";
  font-weight: 400;
  white-space: nowrap;
  line-height: 60px;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  position: relative;
  z-index: 2;
}

.about__title::after {
  content: "ABOUT";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0.2em;
  color: rgba(64, 64, 64, 0.5568627451);
  z-index: -1;
}

.about__text {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #A6A6A6;
  max-width: 45.875rem;
  margin: 0 auto;
}

.about .test {
  position: relative;
  max-width: 61.3125rem;
  margin: 0 auto;
  padding: 0 70px;
}

.about .swiper-button-prev {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.about .swiper-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.about .about__slider {
  margin: 0 auto;
  max-width: 45.875rem;
}

.about .about__slide img {
  max-width: 100%;
}

.about .about__controll {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about .about__cnt img {
  max-width: 100%;
}

.works__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.works__title {
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 90px;
  color: #D9D9D9;
  text-align: center;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 2;
}

.works__title::after {
  content: "WORK";
}

.works__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  text-align: start;
  padding: 0 10px;
  -ms-grid-columns: (minmax(200px, 255px))[2];
  grid-template-columns: repeat(2, minmax(200px, 255px));
}

.works__item {
  background-color: #252525;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.works__item:hover {
  background-color: rgba(52, 199, 89, 0.5764705882);
}

.works__body {
  display: -ms-grid;
  display: grid;
  gap: 36px;
  padding: 24px;
}

.works__subtitle {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.works__subtitle::after {
  content: "";
  background-color: #34C759;
  position: absolute;
  bottom: -70%;
  left: 0;
  width: 56px;
  height: 2px;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.works__text {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 200px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.dishes__container {
  display: -ms-grid;
  display: grid;
}

.dishes__title {
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  position: relative;
}

.dishes__title::after {
  content: "DISHES";
}

.dishes__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-grid-columns: (minmax(280px, 350px))[2];
  grid-template-columns: repeat(2, minmax(280px, 350px));
}

.dishes__item {
  background-color: rgb(37, 37, 37);
}

.card__image img {
  max-width: 100%;
}

.card__title {
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 30px;
  color: #D9D9D9;
}

.card__subtitle {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #A4A8B2;
  margin-bottom: 20px;
}

.card__text {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: #85878C;
  margin-bottom: 26px;
}

.card__star-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__button {
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: 1px solid #4D4D4D;
  background-color: rgb(37, 37, 37);
  border-radius: 50px;
  padding: 0 20px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.card__button:hover {
  background-color: #34C759;
  color: rgb(37, 37, 37);
}

.chefs__container {
  display: -ms-grid;
  display: grid;
}

.chefs__title {
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  position: relative;
  margin-bottom: 4.25rem;
}

.chefs__title::after {
  content: "CHEFS";
}

.chefs__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  row-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chefs__item {
  display: -ms-grid;
  display: grid;
  gap: 35px;
}

.chefs__avatar {
  padding-left: 30%;
  position: relative;
}

.no-webp .chefs__avatar_first::before{
  background-image: url(./../img/chefs/Avatar.jpg); }

.chefs__avatar_first::before {
  content: "";
  background-repeat: no-repeat;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  position: absolute;
  top: -20%;
  left: 0;
  width: 65px;
  height: 65px;
}

.no-webp .chefs__avatar_second::before{
  background-image: url(./../img/chefs/Avatar2.jpg); }

.chefs__avatar_second::before {
  content: "";
  background-repeat: no-repeat;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  position: absolute;
  top: -20%;
  left: 0;
  width: 65px;
  height: 65px;
}

.no-webp .chefs__avatar_third::before{
  background-image: url(./../img/chefs/Avatar3.jpg); }

.chefs__avatar_third::before {
  content: "";
  background-repeat: no-repeat;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  position: absolute;
  top: -20%;
  left: 0;
  width: 65px;
  height: 65px;
}

.chefs__name {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.225px;
  color: #FFFFFF;
  margin-bottom: 0.375rem;
}

.chefs__subtitle {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
}

.chefs__image {
  background-color: #1A1A1A;
}

.chefs__image img {
  max-width: 100%;
}

.recepies__container {
  display: -ms-grid;
  display: grid;
}

.recepies__title {
  font-family: "Helvetica Neue";
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  position: relative;
}

.recepies__title::after {
  content: "RECEPIES";
}

.recepies__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: minmax(400px, 540px);
  grid-template-columns: minmax(400px, 540px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .recepies__left{
  background-image: url(./../img/recepies/leftBig.jpg); }

.recepies__left {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
}

.recepies__left-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 60px 90px;
}

.recepies__type {
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 4.0625rem;
  padding: 0 16px;
  background-color: rgba(26, 26, 26, 0.5294117647);
  border-radius: 3px;
}

.recepies__date {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 1.5625rem;
}

.recepies__text {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 2.8125rem;
}

.recepies__author {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 3.75rem;
}

.likes-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  width: 140px;
}

.likes-comments__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.likes-comments__likes img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  max-width: 100%;
}

.likes-comments__likes-count {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #FFFFFF;
}

.right-recepies__item_third .likes-comments__likes-count {
  color: black;
}

.likes-comments__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.likes-comments__comments img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  max-width: 100%;
}

.likes-comments__comments-count {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #FFFFFF;
}

.right-recepies__item_third .likes-comments__comments-count {
  color: black;
}

.right-recepies {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

.right-recepies__item {
  padding: 20px 30px;
}

.right-recepies__item_first {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.no-webp .right-recepies__item_second{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./../img/recepies/right.jpg); }

.no-webp .right-recepies__item_second{
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../img/recepies/right.jpg); }

.no-webp .right-recepies__item_second{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../img/recepies/right.jpg); }

.right-recepies__item_second {
  border-radius: 6px;
}

.right-recepies__item_third {
  background: #34C759;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.right-recepies__text {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 0.625rem;
}

.right-recepies__item_third .right-recepies__text {
  color: black;
}

.right-recepies__cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-recepies__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.right-recepies__type {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 16px;
  background-color: rgba(26, 26, 26, 0.5294117647);
  border-radius: 3px;
}

.right-recepies__date {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #B3B3B3;
}

.right-recepies__item_third .right-recepies__date {
  color: black;
}

.social__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__title {
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  position: relative;
  margin-bottom: 5.625rem;
}

.social__title::after {
  content: "SOCIAL";
}

.social__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 350px;
  grid-template-columns: 350px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  max-height: 330px;
}

.social__item_instagram {
  padding: 0;
}

.social__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.social__header_instagram {
  padding: 30px;
  margin-bottom: 0rem;
}

.social__name {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #BFBFBF;
  text-transform: capitalize;
  position: relative;
  margin-left: 20%;
}

.no-webp .twitter .social__name::before{
  background-image: url(./../img/social/Twitter.png); }

.twitter .social__name::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -10%;
  left: -140%;
  width: 120%;
  height: 120%;
  position: absolute;
}

.no-webp .instagram .social__name::before{
  background-image: url(./../img/social/Instagram.png); }

.instagram .social__name::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -10%;
  left: -140%;
  width: 120%;
  height: 120%;
  position: absolute;
}

.no-webp .facebook .social__name::before{
  background-image: url(./../img/social/Facebook.png); }

.facebook .social__name::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -10%;
  left: -140%;
  width: 120%;
  height: 120%;
  position: absolute;
}

.social__button {
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #737373;
  text-decoration: none;
  border: 1px solid rgba(115, 115, 115, 0.6235294118);
  padding: 5px 15px;
  border-radius: 50px;
}

.social__button:hover {
  background-color: rgba(52, 199, 89, 0.5764705882);
  color: #1A1A1A;
}

.social__body {
  overflow: scroll;
}

.social__date {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #737373;
  margin-bottom: 0.625rem;
}

.social__text {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.social__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .navigation-items {
    -ms-grid-columns: (245px)[3];
    grid-template-columns: repeat(3, 245px);
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
  }

  .footer .navigation-items {
    -ms-grid-columns: (minmax(150px, 245px))[3];
    grid-template-columns: repeat(3, minmax(150px, 245px));
  }
}

@media (min-width: 61.99875em) {
  .works__items {
    -ms-grid-columns: (minmax(200px, 255px))[4];
    grid-template-columns: repeat(4, minmax(200px, 255px));
  }

  .dishes__items {
    -ms-grid-columns: (minmax(280px, 350px))[3];
    grid-template-columns: repeat(3, minmax(280px, 350px));
  }

  .recepies__items {
    -ms-grid-columns: (minmax(430px, 540px))[2];
    grid-template-columns: repeat(2, minmax(430px, 540px));
  }
}

@media (min-width: 70.625em) {
  [shadow-text]::after {
    font-size: 5.625rem;
  }

  .menu__link {
    margin-left: 2.8125rem;
  }

  .footer .navigation-items {
    gap: 5.625rem;
  }

  .favorite__container {
    padding-top: 5rem;
  }

  .favorite__container {
    padding-bottom: 21.25rem;
  }

  .favorite__title {
    font-size: 4.5rem;
  }

  .favorite__title {
    line-height: 5.25rem;
  }

  .favorite__button {
    width: 13.75rem;
  }

  .favorite__button {
    height: 4.5rem;
  }

  .favorite__button {
    font-size: 1.125rem;
  }

  .favorite__button {
    line-height: 1.375rem;
  }

  .about__container {
    padding-top: 6.5625rem;
  }

  .about__container {
    padding-bottom: 5.625rem;
  }

  .about__title {
    font-size: 2.25rem;
  }

  .about__title {
    margin-bottom: 3.8125rem;
  }

  .about__text {
    margin-bottom: 5.625rem;
  }

  .works {
    padding-top: 5.625rem;
  }

  .works {
    padding-bottom: 1.875rem;
  }

  .works__title {
    font-size: 2.25rem;
  }

  .works__title {
    margin-bottom: 5.625rem;
  }

  .dishes {
    padding-top: 5.625rem;
  }

  .dishes {
    padding-bottom: 1.875rem;
  }

  .dishes__title {
    font-size: 2.25rem;
  }

  .dishes__title {
    margin-bottom: 5.625rem;
  }

  .card__body {
    padding: 1.875rem;
  }

  .card__title {
    font-size: 2rem;
  }

  .chefs {
    padding-top: 5.625rem;
  }

  .chefs {
    padding-bottom: 1.875rem;
  }

  .chefs__title {
    font-size: 2.25rem;
  }

  .recepies {
    padding-top: 5.625rem;
  }

  .recepies {
    padding-bottom: 1.875rem;
  }

  .recepies__title {
    font-size: 2.25rem;
  }

  .recepies__title {
    line-height: 5.625rem;
  }

  .recepies__title {
    margin-bottom: 5.625rem;
  }

  .social {
    padding-top: 5.625rem;
  }

  .social {
    padding-bottom: 7.5rem;
  }

  .social__title {
    font-size: 2.25rem;
  }
}

@media (min-width: 800px) {
  .chefs__items {
    -ms-grid-columns: (minmax(250px, 350px))[3];
    grid-template-columns: repeat(3, minmax(250px, 350px));
  }
}

@media (min-width: 1070px) {
  .social__items {
    -ms-grid-columns: (minmax(330px, 350px))[3];
    grid-template-columns: repeat(3, minmax(330px, 350px));
  }
}

@media (min-width: 75em) {
  .works__subtitle {
    font-size: 1.375rem;
  }
}

@media (max-width: 20em) {
  [shadow-text]::after {
    font-size: 3.125rem;
  }

  .menu__link {
    margin-left: 1.25rem;
  }

  .footer .navigation-items {
    gap: 2.8125rem;
  }

  .favorite__container {
    padding-top: 2.5rem;
  }

  .favorite__container {
    padding-bottom: 9.375rem;
  }

  .favorite__title {
    font-size: 2.25rem;
  }

  .favorite__title {
    line-height: 2.625rem;
  }

  .favorite__button {
    width: 6.875rem;
  }

  .favorite__button {
    height: 2.25rem;
  }

  .favorite__button {
    font-size: 0.9375rem;
  }

  .favorite__button {
    line-height: 0.6875rem;
  }

  .about__container {
    padding-top: 3.25rem;
  }

  .about__container {
    padding-bottom: 2.8125rem;
  }

  .about__title {
    font-size: 1.25rem;
  }

  .about__title {
    margin-bottom: 1.875rem;
  }

  .about__text {
    margin-bottom: 2.8125rem;
  }

  .works {
    padding-top: 2.8125rem;
  }

  .works {
    padding-bottom: 0.9375rem;
  }

  .works__title {
    font-size: 1.25rem;
  }

  .works__title {
    margin-bottom: 2.8125rem;
  }

  .dishes {
    padding-top: 2.8125rem;
  }

  .dishes {
    padding-bottom: 0.9375rem;
  }

  .dishes__title {
    font-size: 1.25rem;
  }

  .dishes__title {
    margin-bottom: 2.8125rem;
  }

  .card__body {
    padding: 0.9375rem;
  }

  .card__title {
    font-size: 1.125rem;
  }

  .chefs {
    padding-top: 2.8125rem;
  }

  .chefs {
    padding-bottom: 0.9375rem;
  }

  .chefs__title {
    font-size: 1.25rem;
  }

  .recepies {
    padding-top: 2.8125rem;
  }

  .recepies {
    padding-bottom: 0.9375rem;
  }

  .recepies__title {
    font-size: 1.5rem;
  }

  .recepies__title {
    line-height: 3.125rem;
  }

  .recepies__title {
    margin-bottom: 2.8125rem;
  }

  .social {
    padding-top: 2.8125rem;
  }

  .social {
    padding-bottom: 2.5rem;
  }

  .social__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 56.25em) {
  .works__subtitle {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 9%;
    left: -100%;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    overflow: auto;
    z-index: 10;
    background-color: #252525;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #252525;
    left: -100%;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    z-index: 10;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.25rem;
    font-weight: 400;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .dishes__items {
    -ms-grid-columns: minmax(280px, 350px);
    grid-template-columns: minmax(280px, 350px);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .works__items {
    -ms-grid-columns: minmax(200px, 255px);
    grid-template-columns: minmax(200px, 255px);
  }
}

@media (min-width: 20em) and (max-width: 70.625em) {
@supports (font-size: clamp( 3.125rem , 2.137345679rem  +  4.9382716049vw , 5.625rem )) {
    [shadow-text]::after {
      font-size: clamp( 3.125rem , 2.137345679rem  +  4.9382716049vw , 5.625rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.137345679rem  +  4.9382716049vw , 5.625rem )) {
    [shadow-text]::after {
      font-size: calc(3.125rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-left: clamp( 1.25rem , 0.6327160494rem  +  3.0864197531vw , 2.8125rem )) {
    .menu__link {
      margin-left: clamp( 1.25rem , 0.6327160494rem  +  3.0864197531vw , 2.8125rem );
    }
}

@supports not (margin-left: clamp( 1.25rem , 0.6327160494rem  +  3.0864197531vw , 2.8125rem )) {
    .menu__link {
      margin-left: calc(1.25rem + 1.5625 * (100vw - 20rem) / 50.625);
    }
}

@supports (gap: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .footer .navigation-items {
      gap: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (gap: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .footer .navigation-items {
      gap: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.512345679rem  +  4.9382716049vw , 5rem )) {
    .favorite__container {
      padding-top: clamp( 2.5rem , 1.512345679rem  +  4.9382716049vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.512345679rem  +  4.9382716049vw , 5rem )) {
    .favorite__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 9.375rem , 4.6836419753rem  +  23.4567901235vw , 21.25rem )) {
    .favorite__container {
      padding-bottom: clamp( 9.375rem , 4.6836419753rem  +  23.4567901235vw , 21.25rem );
    }
}

@supports not (padding-bottom: clamp( 9.375rem , 4.6836419753rem  +  23.4567901235vw , 21.25rem )) {
    .favorite__container {
      padding-bottom: calc(9.375rem + 11.875 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 2.25rem , 1.3611111111rem  +  4.4444444444vw , 4.5rem )) {
    .favorite__title {
      font-size: clamp( 2.25rem , 1.3611111111rem  +  4.4444444444vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.3611111111rem  +  4.4444444444vw , 4.5rem )) {
    .favorite__title {
      font-size: calc(2.25rem + 2.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (line-height: clamp( 2.625rem , 1.587962963rem  +  5.1851851852vw , 5.25rem )) {
    .favorite__title {
      line-height: clamp( 2.625rem , 1.587962963rem  +  5.1851851852vw , 5.25rem );
    }
}

@supports not (line-height: clamp( 2.625rem , 1.587962963rem  +  5.1851851852vw , 5.25rem )) {
    .favorite__title {
      line-height: calc(2.625rem + 2.625 * (100vw - 20rem) / 50.625);
    }
}

@supports (width: clamp( 6.875rem , 4.1589506173rem  +  13.5802469136vw , 13.75rem )) {
    .favorite__button {
      width: clamp( 6.875rem , 4.1589506173rem  +  13.5802469136vw , 13.75rem );
    }
}

@supports not (width: clamp( 6.875rem , 4.1589506173rem  +  13.5802469136vw , 13.75rem )) {
    .favorite__button {
      width: calc(6.875rem + 6.875 * (100vw - 20rem) / 50.625);
    }
}

@supports (height: clamp( 2.25rem , 1.3611111111rem  +  4.4444444444vw , 4.5rem )) {
    .favorite__button {
      height: clamp( 2.25rem , 1.3611111111rem  +  4.4444444444vw , 4.5rem );
    }
}

@supports not (height: clamp( 2.25rem , 1.3611111111rem  +  4.4444444444vw , 4.5rem )) {
    .favorite__button {
      height: calc(2.25rem + 2.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8634259259rem  +  0.3703703704vw , 1.125rem )) {
    .favorite__button {
      font-size: clamp( 0.9375rem , 0.8634259259rem  +  0.3703703704vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8634259259rem  +  0.3703703704vw , 1.125rem )) {
    .favorite__button {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 50.625);
    }
}

@supports (line-height: clamp( 0.6875rem , 0.4158950617rem  +  1.3580246914vw , 1.375rem )) {
    .favorite__button {
      line-height: clamp( 0.6875rem , 0.4158950617rem  +  1.3580246914vw , 1.375rem );
    }
}

@supports not (line-height: clamp( 0.6875rem , 0.4158950617rem  +  1.3580246914vw , 1.375rem )) {
    .favorite__button {
      line-height: calc(0.6875rem + 0.6875 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 3.25rem , 1.9413580247rem  +  6.5432098765vw , 6.5625rem )) {
    .about__container {
      padding-top: clamp( 3.25rem , 1.9413580247rem  +  6.5432098765vw , 6.5625rem );
    }
}

@supports not (padding-top: clamp( 3.25rem , 1.9413580247rem  +  6.5432098765vw , 6.5625rem )) {
    .about__container {
      padding-top: calc(3.25rem + 3.3125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .about__container {
      padding-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .about__container {
      padding-bottom: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .about__title {
      font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .about__title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1095679012rem  +  3.8271604938vw , 3.8125rem )) {
    .about__title {
      margin-bottom: clamp( 1.875rem , 1.1095679012rem  +  3.8271604938vw , 3.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1095679012rem  +  3.8271604938vw , 3.8125rem )) {
    .about__title {
      margin-bottom: calc(1.875rem + 1.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .about__text {
      margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .about__text {
      margin-bottom: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .works {
      padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .works {
      padding-top: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .works {
      padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .works {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .works__title {
      font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .works__title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .works__title {
      margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .works__title {
      margin-bottom: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .dishes {
      padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .dishes {
      padding-top: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .dishes {
      padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .dishes {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .dishes__title {
      font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .dishes__title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .dishes__title {
      margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .dishes__title {
      margin-bottom: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .card__body {
      padding: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .card__body {
      padding: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.7793209877rem  +  1.7283950617vw , 2rem )) {
    .card__title {
      font-size: clamp( 1.125rem , 0.7793209877rem  +  1.7283950617vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.7793209877rem  +  1.7283950617vw , 2rem )) {
    .card__title {
      font-size: calc(1.125rem + 0.875 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .chefs {
      padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .chefs {
      padding-top: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .chefs {
      padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .chefs {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .chefs__title {
      font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .chefs__title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .recepies {
      padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .recepies {
      padding-top: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .recepies {
      padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5671296296rem  +  1.8518518519vw , 1.875rem )) {
    .recepies {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2037037037rem  +  1.4814814815vw , 2.25rem )) {
    .recepies__title {
      font-size: clamp( 1.5rem , 1.2037037037rem  +  1.4814814815vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2037037037rem  +  1.4814814815vw , 2.25rem )) {
    .recepies__title {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 50.625);
    }
}

@supports (line-height: clamp( 3.125rem , 2.137345679rem  +  4.9382716049vw , 5.625rem )) {
    .recepies__title {
      line-height: clamp( 3.125rem , 2.137345679rem  +  4.9382716049vw , 5.625rem );
    }
}

@supports not (line-height: clamp( 3.125rem , 2.137345679rem  +  4.9382716049vw , 5.625rem )) {
    .recepies__title {
      line-height: calc(3.125rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .recepies__title {
      margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .recepies__title {
      margin-bottom: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .social {
      padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 1.7013888889rem  +  5.5555555556vw , 5.625rem )) {
    .social {
      padding-top: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.524691358rem  +  9.8765432099vw , 7.5rem )) {
    .social {
      padding-bottom: clamp( 2.5rem , 0.524691358rem  +  9.8765432099vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.524691358rem  +  9.8765432099vw , 7.5rem )) {
    .social {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .social__title {
      font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8549382716rem  +  1.975308642vw , 2.25rem )) {
    .social__title {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 50.625);
    }
}
}

@media (min-width: 56.25em) and (max-width: 75em) {
@supports (font-size: clamp( 1.125rem , 0.375rem  +  1.3333333333vw , 1.375rem )) {
    .works__subtitle {
      font-size: clamp( 1.125rem , 0.375rem  +  1.3333333333vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.375rem  +  1.3333333333vw , 1.375rem )) {
    .works__subtitle {
      font-size: calc(1.125rem + 0.25 * (100vw - 56.25rem) / 18.75);
    }
}
}

.webp .menu__logo ::before{ background-image: url(./../img/Logo.webp); }

.webp .footer__logo::before{ background-image: url(./../img/Logo.webp); }

.webp .favorite{ background-image: url(./../img/favorite/placeholder.webp); }

.webp .chefs__avatar_first::before{ background-image: url(./../img/chefs/Avatar.webp); }

.webp .chefs__avatar_second::before{ background-image: url(./../img/chefs/Avatar2.webp); }

.webp .chefs__avatar_third::before{ background-image: url(./../img/chefs/Avatar3.webp); }

.webp .recepies__left{ background-image: url(./../img/recepies/leftBig.webp); }

.webp .right-recepies__item_second{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./../img/recepies/right.webp); }

.webp .right-recepies__item_second{ background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../img/recepies/right.webp); }

.webp .right-recepies__item_second{ background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../img/recepies/right.webp); }

.webp .twitter .social__name::before{ background-image: url(./../img/social/Twitter.webp); }

.webp .instagram .social__name::before{ background-image: url(./../img/social/Instagram.webp); }

.webp .facebook .social__name::before{ background-image: url(./../img/social/Facebook.webp); }